header {
  grid-area: header;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px;
}
header .logo {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  padding: 10px;
}
header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
}